wheel
aiocontextvars
aiofiles
aiohttp
aioredis
async-generator
async-timeout
asyncpg
atomicwrites
attrs
chardet
gino
gunicorn
hiredis
httptools
idna
more-itertools
multidict
pluggy
py
PyJWT
pytest
pytest-sanic
python-dotenv
sanic
sanic-jwt
sanic-openapi
six
SQLAlchemy
ujson
uvloop
websockets
yarl
